<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>{{element.name}}</mat-panel-title>
	</mat-expansion-panel-header>
	
	<table mat-table 
		[dataSource]="previewTableData"
		#previewTable
	>
		<ng-container 
			*ngFor="let column of previewTableColumns; let i=index"
			[matColumnDef]="column"
		>
			<th mat-header-cell *matHeaderCellDef>{{column}}</th>
			<td mat-cell *matCellDef="let item">
				{{item[column]}}
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="previewTableColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: previewTableColumns"></tr>
	</table>

	<div>
		<button mat-button
			id="submit"
			(click)="onPreview()"
			>Preview
		</button> 

		<button mat-button
			id="submit"
			(click)="onDownload()"
			>Download
		</button> 
	</div>
</mat-expansion-panel>