<h3>Model:</h3>

<mat-tree
	[dataSource]="elementsTree"
	[treeControl]="elementsTreeControl"
	class="example-tree"
	>  
	<mat-tree-node *matTreeNodeDef="let element" matTreeNodeToggle>
		<button mat-icon-button disabled></button>
		<mat-checkbox
			[checked]="modelService.selectedElements$.isSelected(element)"
			(change)="updateSelection(element, 'element')">
			{{element.name}}
		</mat-checkbox>
	</mat-tree-node>
	<mat-nested-tree-node *matTreeNodeDef="let element; when: hasChild">
		<div class="mat-tree-node">
			<button mat-icon-button matTreeNodeToggle>
				<mat-icon class="mat-icon-rtl-mirror">
					{{elementsTreeControl.isExpanded(element) ? 'expand_more' : 'chevron_right'}}
				</mat-icon>
			</button>
			<mat-checkbox
				[indeterminate]="partialDescendantsSelected(element, 'element')"
				[checked]="allDescendantsSelected(element, 'element')"
				(change)="updateSelection(element, 'element')">
				{{element.name}}
			</mat-checkbox>
		</div>
		<div [class.example-tree-invisible]="!elementsTreeControl.isExpanded(element)"
			role="group">
			<ng-container matTreeNodeOutlet></ng-container>
		</div>
	</mat-nested-tree-node>
</mat-tree>


<mat-tree
	[dataSource]="relationsTree"
	[treeControl]="relationsTreeControl"
	class="example-tree">  

	<mat-tree-node *matTreeNodeDef="let relation" matTreeNodeToggle>
		<button mat-icon-button disabled></button>
		<mat-checkbox
			[checked]="modelService.selectedRelations$.isSelected(relation)"
			(change)="updateSelection(relation, 'relation')">
			{{relation.name}}
		</mat-checkbox>
	</mat-tree-node>
	<mat-nested-tree-node *matTreeNodeDef="let relation; when: hasChild">
		<div class="mat-tree-node">
			<button mat-icon-button matTreeNodeToggle>
				<mat-icon class="mat-icon-rtl-mirror">
					{{relationsTreeControl.isExpanded(relation) ? 'expand_more' : 'chevron_right'}}
				</mat-icon>
			</button>
			<mat-checkbox
				[checked]="allDescendantsSelected(relation, 'relation')"
				[indeterminate]="partialDescendantsSelected(relation, 'relation')"
				(change)="updateSelection(relation, 'relation')">
				{{relation.name}}
			</mat-checkbox>
		</div>
		<!-- There is inline padding applied to this div using styles.
		This padding value depends on the mat-icon-button width. -->
		<div [class.example-tree-invisible]="!relationsTreeControl.isExpanded(relation)"
			role="group">
			<ng-container matTreeNodeOutlet></ng-container>
		</div>
	</mat-nested-tree-node>
</mat-tree>

